.clients {
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar {
    margin-bottom: 20px;
}

.content {
    text-align: center;
    color: #e0e0e0;
}

.title {
    color: #ffffff;
    margin-bottom: 20px;
}

.searchInput {
    width: 50%;
    align-content: center;
    margin-right: 5px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    text-align: center;
    background-color: #333333;
    color: #ffffff;
}

.options {
    margin-bottom: 20px;
}

.button {
    background-color: #7b1fa2;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #9c27b0;
}

.clientPreview {
    background-color: #444444;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.clientPreview:hover {
    background-color: #555555;
}

.clientPreview h2 {
    color: #ffffff;
}
