.confirmationOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmationBox {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.confirmButton {
    margin: 10px;
    padding: 10px 20px;
    background-color: #0f9308;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelButton {
    margin: 10px;
    padding: 10px 20px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}